@model BoardGames.Models.StatisticsViewModel

<section id="action">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action count">
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="@Model.Reviews" data-speed="3000" data-from="0"></h1>
                        <h3>Total Reviews</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="@Model.Tutorials" data-speed="3000" data-from="0"></h1>
                        <h3>Total Tutorials</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="@Model.Comments" data-speed="3000" data-from="0"></h1>
                        <h3>Total Comments</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="@Model.Likes" data-speed="3000" data-from="0"></h1>
                        <h3>Total Likes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>