@model BoardGames.Areas.Private.Models.TutorialsIndexViewModel

@{
    ViewBag.Title = "Tutorials";
    ViewBag.Subtitle = "Tips, tricks and many more to become the best";
}

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    @Html.Partial("_ListetTutorialsPartial", Model.Tutorials)
                </div>
                <div class="blog-pagination">
                    <ul class="pagination">
                        <li><a href="#">left</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">right</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    @Html.Partial("_BestTutorialsMenuPartial", Model.BestTutorials)
                    @Html.Partial("_RandomTutorialsMenuPartial", Model.RandomTutorials)
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->