@{
    ViewBag.Title = "Admin panel";
    ViewBag.Subtitle = "Manage everything";
}

<div class="container">
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <a class="single-service" href="~/Admin/Categories">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="~/images/admin/categories.jpg" alt="">
                        </div>
                        <h2>Categories</h2>
                        <p>Manage game categories!</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a class="single-service" href="~/Admin/Reviews">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="500ms">
                            <img src="~/images/admin/reviews.jpg" alt="">
                        </div>
                        <h2>Reviews</h2>
                        <p>Manage game reviews!</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <a class="single-service" href="~/Admin/Tutorials">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="700ms">
                            <img src="~/images/admin/tutorials.jpg" alt="">
                        </div>
                        <h2>Tutorials</h2>
                        <p>Manage game tutorials!</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <a class="single-service" href="~/Admin/Events">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="~/images/admin/events.jpg" alt="">
                        </div>
                        <h2>Events</h2>
                        <p>Manage future and past events!</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1100ms">
                    <a class="single-service" href="~/Admin/Comments">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="1100ms">
                            <img src="~/images/admin/comments.jpg" alt="">
                        </div>
                        <h2>Comments</h2>
                        <p>Manage user responses!</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1300ms">
                    <a class="single-service" href="~/Admin/Users">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="1300ms">
                            <img src="~/images/admin/users.jpg" alt="">
                        </div>
                        <h2>Users</h2>
                        <p>Manage site users!</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->
</div>
