@model IEnumerable<BoardGames.Areas.Public.Models.ReviewMenuItemViewModel>

<div class="sidebar-item  recent-projects">
    <h3>Recent Reviews</h3>
    @foreach (var item in Model)
    {
        <div class="media">
            <div class="pull-left">
                <a href="@Url.Action("Details", new { id = item.Id})"><img src="~/Files?id=@item.ImageId"/></a>
            </div>
            <div class="media-body">
                <h4><a href="@Url.Action("Details", new { id = item.Id})">@item.GameTitle</a></h4>
                <p>posted on  @Html.DisplayFor(m => item.CreatedOn)</p>
            </div>
        </div>
    }
</div>
